<!DOCTYPE html>
<html>
  <head>
    <title>LocalesAdmin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estiloAdmin.css">

    <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
    <script type="text/javascript" src="/js/logicaCliente.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGJhXxOlTE5KGJA-jjJDZve3ni7WniEEA&callback=initMap"
    async defer></script>
  </head>


  <body>
    <nav>
      <a class="navbar-brand" href="https://girabahiense.herokuapp.com/">GiraBahiense</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link">Log out<span class="sr-only">
            </li>
          </ul>
      </div>
    </nav>
    <div id="map" style="height:370px;"></div>

    {%include "shared/inputForm.twig"%}

  </body>
</html>
