<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Readme</title>
  </head>
  <body>
    <h1>Readme GiraBahienseAdmin</h1>
    <h2>Alumnos:Dimatz, Juan y Jouglard, Juan Francisco</h2>
    <p>
      El email del usuario para acceder a la pagina es jouglardjuan@gmail.com y la contrasena es 123456.
    </p>
  </body>
</html>
