<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" name="{{dia}}" onclick="descheckear(this)">
  <label class="form-check-label" for="{{dia}}">
    Cerrado
  </label>
</div>
