<div class="form-row">
  <div class="col">
    <label>Horario de Apertura</label>
  </div>
  <div class="col">
    <input name="horaApertura{{dia}}" type="text" class="form-control">:</input>
  </div>
  <div class="col">
    <input name="minutosApertura{{dia}}" type="text" class="form-control">
  </div>
  <div class="col">
    <label>Horario de Cierre</label>
  </div>
  <div class="col">
    <input name="horaCierre{{dia}}" type="text" style="float:left;" class="form-control">
    <label style="float:right;">:</label>
  </div>
  <div class="col">
    <input name="minutosCierre{{dia}}" type="text" class="form-control">
  </div>
</div>
