<form method="POST" action="/guardarLocal">
  {{ csrf_field() }}
  <div class="formulario">
    <div class="form-group" style="width:60%;margin-left:auto;margin-right:auto">
      <label for="campoNombre">Nombre</label>
      <input name="campoNombre" class="form-control" type="text" required>
    </div>

    <input name="campoID" class="form-control" type="text" style="display:none">

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="campoTipo">Tipo</label>
          <select name="campoTipo" class="form-control" required>
            <option id="optionCerveceria">Cerveceria</option>
            <option id="optionBoliche">Boliche</option>
            <option id="optionCarrito">Carrito</option>
          </select>
        </div>
        <div class="form-group">
          <label for="campoLatitud">Latitud</label>
          <input name="campoLatitud" class="form-control" type="number" step="any" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="campoLongitud">Longitud</label>
          <input name="campoLongitud" class="form-control" type="number" step="any" required>
        </div>
        <div class="form-group">
          <label for="campoDireccion">Direccion</label>
          <input name="campoDireccion" class="form-control" type="text" required>
        </div>
      </div>
        <div class="col">
          <div class="form-group">
            <label for="campoTelefono">Telefono</label>
            <input name="campoTelefono" class="form-control" type="number" required>
          </div>
          <div class="form-group">
            <label for="campoFacebook">Facebook</label>
            <input name="campoFacebook" class="form-control" type="text" required>
          </div>
      </div>
    </div>
  </div>


  <div class="accordion" id="accordion">
    {%include "shared/accordionElement.twig" with {'dia':'Domingo'}%}
    {%include "shared/accordionElement.twig" with {'dia':'Lunes'}%}
    {%include "shared/accordionElement.twig" with {'dia':'Martes'}%}
    {%include "shared/accordionElement.twig" with {'dia':'Miercoles'}%}
    {%include "shared/accordionElement.twig" with {'dia':'Jueves'}%}
    {%include "shared/accordionElement.twig" with {'dia':'Viernes'}%}
    {%include "shared/accordionElement.twig" with {'dia':'Sabado'}%}
  </div>

  <input type="submit" class="btn btn-primary" value="Enviar">

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
    Borrar
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Seguro quiere borrar el local de la base de datos?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Borrar" formaction="/borrarLocal">
        </div>
      </div>
    </div>
  </div>

</form>
